<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
</head>
<body>
   <div id="app">
      <ul>
         <li v-for="(item, index) in list">
            {{index}} - {{ item.text}}
         </li>
      </ul>  
      
      <ul>
         <li v-for="number in 100">
            {{ number }}
         </li>
      </ul>
   </div>

   <script src="https://unpkg.com/vue/dist/vue.js" ></script>
   <script>
      var app = new Vue({
         el: '#app',
         data: {
            list: [
               {text: 'item 1'},
               {text: 'item 2'},
               {text :'item 1'}
            ]
         }
      })
   </script>
</body>
</html>